<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="goToHome()">
    <ion-icon name="home"></ion-icon>
    </ion-button>
    <ion-button (click)="goToFavourites()">
      <ion-icon name="heart"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Movie overview passed to movie details page via router state from home page-->
  <p class="ion-padding">{{ overview }}</p>

  <!--Favourites buttons, *ngIf picks one based on isFavourite status-->
  <ion-button *ngIf="!isFavourite" (click)="toggleFavourite()" expand="block">
    Add to Favourites
  </ion-button>
  <ion-button *ngIf="isFavourite" (click)="toggleFavourite()" expand="block" color="danger">
    Remove from Favourites
  </ion-button>

  <!--Cast Section--> <!-- TODO: No fallback for null profile path. Need to add "No Image"-->
  <ion-list>
    <ion-list-header>
      <ion-label>Cast</ion-label>
    </ion-list-header>

    <!--loop over cast array, one ion-item per cast member-->
    <ion-item *ngFor="let member of cast" button="true" (click)="goToPerson(member.id)">
      <!--Put thumnail on the left-->
      <ion-thumbnail slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + member.profile_path" />
      </ion-thumbnail>

      <ion-label>
        <!--member declared in *ngFor, name returns actors real name-->
        <h2>{{ member.name }}</h2>
        <p>{{ member.character }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--Crew Section-->
  <ion-list>
    <ion-list-header>
      <ion-label>Crew</ion-label>
    </ion-list-header>

      <ion-item *ngFor="let member of crew" button="true" (click)="goToPerson(member.id)">
        <ion-thumbnail slot="start">
          <img [src]="'https://image.tmdb.org/t/p/w500' + member.profile_path" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ member.name }}</h2>
          <p>{{ member.job }}</p>
        </ion-label>
      </ion-item>

  </ion-list>
</ion-content>
