<!--Top header, always visible. Holds student number and favourites icon.-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Student number on home page as per spec.-->
    <ion-title>G00438850</ion-title>
    <!--Puts button at the end of the toolbar(right), routerlink navigates to favourites page-->
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <!--pulls icon from Ionicons, "icon-only" = no text-->
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Main content of the page, search and trending movies.-->
<ion-content [fullscreen]="true">

  <!--Search bar allowing user to enter a movie name to search, ion-input is the input field-->
  <!--[(ngModel)] keeps searchQuery in sync with input field as user types (two way binding)-->
  <ion-item>
    <ion-input label="Search" placeholder="Movie Name" [(ngModel)]="searchQuery"></ion-input>
  </ion-item>

  <!--Search button. expand="block" maket it stretch , matching spec. (click) = event binding, calls onSearch()-->
  <ion-button expand="block" (click)="onSearch()">SEARCH</ion-button>

  <!--Heading above the list of trending movies.(ion-padding-start is an Ionic class that gives padding to the element) -->
  <!--<h2 class="ion-padding-start">Today's Trending Movies</h2>-->

  <!--Two versions of heading, controlled by *ngIf. Only one present in the Dom-->
  <!--displayedQuery empty = trending heading shown. Otherwise, search heading shown with the query interpolated.-->
  <h2 *ngIf="displayedQuery === ''" class="ion-padding-start">Today's Trending Movies</h2>
  <h2 *ngIf="displayedQuery !== ''" class="ion-padding-start">{{ displayedQuery }} Movies</h2>

  <!--Container for the list of movie cards. Each card will be added to the list. List handles spacing automatically-->
  <ion-list>

    <!--*ngFor loops through movies array (filled by getTrending() in ngOnInit). Creates one card per movie-->
    <!--butteon=true styles the card as clickable. Clicking the card calls goToMovie(), with this movies TMDB id-->
    <ion-card *ngFor="let movie of movies" (click)="goToMovie(movie.id)" button="true">
    <!--Square brackets - property binding. Joins TMDB image base with the poster_path from the API-->
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      <ion-card-content>
        <!--Curly braces - interpolation. Inserts movie overview as text-->
        {{ movie.overview }}
      </ion-card-content>
    </ion-card>

  </ion-list>
  
</ion-content>
