<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ person?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!--Image block, show profile pic if available, otherwise show "No image" text -->
      <img *ngIf="person?.profile_path; else noImage"
           [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
           [alt]="person.name">
      <ng-template #noImage>
        <p>No image</p>
      </ng-template>

      <!--Person's name from TMDB-->
      <h2>{{ person?.name }}</h2>
      <!--DOB and DOD, *ngIf hides the line if there is no birthday-->
      <p *ngIf="person?.birthday">
        {{ person.birthday }} - {{ person.deathday }}
      </p>
      <!--Place of birth, guarded with *ngIf in case place of birth is null-->
      <p *ngIf="person?.place_of_birth">
        {{ person.place_of_birth }}
      </p>

      <!--AKA, an array of othe names used. Check .length because an empty array would render.-->
      <div *ngIf="person?.also_known_as?.length">
        <p>Also Known as:</p>
        <p *ngFor="let aka of person.also_known_as">{{ aka }}</p>
      </div>
      <!--Biography, long text from TMDB, use *ngIf in case its empty-->
      <p *ngIf="person?.biography">{{ person.biography }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
